<a href="https://colab.research.google.com/github/therealfortune/DA-Portfolio-Project/blob/master/PandasBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
people = {
    'first' : ['Fortune', 'John', 'Jane'],
    'last' : ['Nwankwo', 'Doe', 'Doe'],
    'email' : ['FortuneNwankwo@email.com', 'JohnDoe@email.com', 'JaneDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
filt = (df['last'] == 'Doe') | (df['first'] == "John")

In [ ]:
df.loc[~filt, 'email']

0    FortuneNwankwo@email.com
Name: email, dtype: object

In [ ]:
df.columns = ['First Name', 'Last Name', 'Email']

In [ ]:
df.columns = (x.lower() for x in df.columns)

In [ ]:
df

  first name last name                     email
0    Fortune   Nwankwo  FortuneNwankwo@email.com
1       John       Doe         JohnDoe@email.com
2       Jane       Doe         JaneDoe@email.com

In [ ]:
df.columns = df.columns.str.replace(' ', '_')

In [ ]:
df

  first_name last_name                     email
0    Fortune   Nwankwo  FortuneNwankwo@email.com
1       John       Doe         JohnDoe@email.com
2       Jane       Doe         JaneDoe@email.com

In [ ]:
df.rename(columns = {'first_name':'First', 'last_name': 'Last'}, inplace = True)

In [ ]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [ ]:
df.loc[2, ['Last', 'email']] = ['David', 'JohnDavid@email.com']
df

     First     Last                     email
0  Fortune  Nwankwo  FortuneNwankwo@email.com
1     John      Doe         JohnDoe@email.com
2     John    David       JohnDavid@email.com

In [ ]:
df.at[2, ['First','Last', 'email']] = ['Jane', 'Doe', 'JaneDoe@email.com']

In [ ]:
df

     First     Last                     email
0  Fortune  Nwankwo  FortuneNwankwo@email.com
1     John      Doe         JohnDoe@email.com
2     Jane      Doe         JaneDoe@email.com

In [ ]:
filt = (df['email'] == 'JaneDoe@email.com')
df.loc[filt, 'Last'] = 'Smith'

In [ ]:
df['email'].str.lower()

0    fortunenwankwo@email.com
1           johndoe@email.com
2           janedoe@email.com
Name: email, dtype: object

In [ ]:
df['email'].apply(len)

0    24
1    17
2    17
Name: email, dtype: int64

In [ ]:
df.rename(columns={'email': 'Email'}, inplace=True)

In [ ]:
def upperMail(email):
  return email.upper()

In [ ]:
df['email'] = df['email'].apply(upperMail)
df

     First     Last                     email
0  Fortune  Nwankwo  FORTUNENWANKWO@EMAIL.COM
1     John      Doe         JOHNDOE@EMAIL.COM
2     Jane    Smith         JANEDOE@EMAIL.COM

In [ ]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

     First     Last                     email
0  Fortune  Nwankwo  fortunenwankwo@email.com
1     John      Doe         johndoe@email.com
2     Jane    Smith         janedoe@email.com

In [ ]:
df.apply(len, axis= 'columns')

0    3
1    3
2    3
dtype: int64

In [ ]:
df.apply(pd.Series.min)

First                     Fortune
Last                          Doe
email    fortunenwankwo@email.com
dtype: object

In [ ]:
df.apply(lambda x : x.max())

First                 John
Last                 Smith
email    johndoe@email.com
dtype: object

In [ ]:
df.applymap(len)

   First  Last  email
0      7     7     24
1      4     3     17
2      4     5     17

In [ ]:
df.applymap(str.lower)

     First     Last                     email
0  fortune  nwankwo  fortunenwankwo@email.com
1     john      doe         johndoe@email.com
2     jane    smith         janedoe@email.com

In [ ]:
df.loc[2, ['First', 'Last', 'email']] = ['Jane', 'Doe', 'JaneDoe@email.com']

In [ ]:
df

     First     Last                     email
0  Fortune  Nwankwo  FortuneNwankwo@email.com
1     John      Doe         JohnDoe@email.com
2     Jane      Doe         JaneDoe@email.com

In [ ]:
df['FullName'] = df['First'] + ' ' + df['Last']

In [ ]:
df

     First     Last                     email         FullName
0  Fortune  Nwankwo  FortuneNwankwo@email.com  Fortune Nwankwo
1     John      Doe         JohnDoe@email.com         John Doe
2     Jane      Doe         JaneDoe@email.com         Jane Doe

In [ ]:
df.drop(columns=['First', 'Last'], inplace=True)

In [ ]:
df

                      email         FullName
0  FortuneNwankwo@email.com  Fortune Nwankwo
1         JohnDoe@email.com         John Doe
2         JaneDoe@email.com         Jane Doe

In [ ]:
df['FullName'].str.split(expand=True)

         0        1
0  Fortune  Nwankwo
1     John      Doe
2     Jane      Doe

In [ ]:
df[['First', 'Last']] = df['FullName'].str.split(expand=True)

In [ ]:
df

                      email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe

In [62]:
df.loc[3] = ['Tech365@email.com','Tech 365', 'Tech', '365', ]

In [63]:
df

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365

In [64]:
df.append({'First':'New'}, ignore_index=True)

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365
4                       NaN              NaN      New      NaN

In [88]:
people = {
    'First' : ['Tony', 'Steve', 'Adam'],
    'Last' : ['Stark', 'Rogers','Doe'],
    'Email' : ['IronMan@marvel.com', 'Cap@marvel.com', 'AD@email.com']
}
df2 = pd.DataFrame(people)

In [89]:
df2

   First    Last               Email
0   Tony   Stark  IronMan@marvel.com
1  Steve  Rogers      Cap@marvel.com
2   Adam     Doe        AD@email.com

In [90]:
df.append(df2, ignore_index=True)

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365
4        IronMan@marvel.com              NaN     Tony    Stark
5            Cap@marvel.com              NaN    Steve   Rogers
6        IronMan@marvel.com              NaN     Tony    Stark
7            Cap@marvel.com              NaN    Steve   Rogers
8              AD@email.com              NaN     Adam      Doe

In [91]:
df = df.append(df2, ignore_index=True)

In [92]:
df

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365
4        IronMan@marvel.com              NaN     Tony    Stark
5            Cap@marvel.com              NaN    Steve   Rogers
6        IronMan@marvel.com              NaN     Tony    Stark
7            Cap@marvel.com              NaN    Steve   Rogers
8              AD@email.com              NaN     Adam      Doe

In [94]:
df = df.drop(index=[6,7])

In [95]:
filt = df['First'] == 'Adam'
df.drop(index=df[filt].index)

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365
4        IronMan@marvel.com              NaN     Tony    Stark
5            Cap@marvel.com              NaN    Steve   Rogers

In [96]:
df.sort_values(by='Last', ascending=True)

                      Email         FullName    First     Last
3         Tech365@email.com         Tech 365     Tech      365
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
8              AD@email.com              NaN     Adam      Doe
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
5            Cap@marvel.com              NaN    Steve   Rogers
4        IronMan@marvel.com              NaN     Tony    Stark

In [97]:
df.sort_values(['Last', 'First'], ascending =True)

                      Email         FullName    First     Last
3         Tech365@email.com         Tech 365     Tech      365
8              AD@email.com              NaN     Adam      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
1         JohnDoe@email.com         John Doe     John      Doe
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
5            Cap@marvel.com              NaN    Steve   Rogers
4        IronMan@marvel.com              NaN     Tony    Stark

In [99]:
df.sort_values(by=['Last', 'First'], ascending=[True,False], inplace=True)

In [101]:
df.head()

                      Email         FullName    First     Last
3         Tech365@email.com         Tech 365     Tech      365
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
8              AD@email.com              NaN     Adam      Doe
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo

In [102]:
df.sort_index()

                      Email         FullName    First     Last
0  FortuneNwankwo@email.com  Fortune Nwankwo  Fortune  Nwankwo
1         JohnDoe@email.com         John Doe     John      Doe
2         JaneDoe@email.com         Jane Doe     Jane      Doe
3         Tech365@email.com         Tech 365     Tech      365
4        IronMan@marvel.com              NaN     Tony    Stark
5            Cap@marvel.com              NaN    Steve   Rogers
8              AD@email.com              NaN     Adam      Doe

In [105]:
df['Last'].sort_values()

3        365
1        Doe
2        Doe
8        Doe
0    Nwankwo
5     Rogers
4      Stark
Name: Last, dtype: object